{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [
          ".js", ".ts", ".jsx", ".tsx", "d.ts"
        ],
        "alias": {
          "@src": "./src"
        }
      }
    ]
  ]
}
