{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [
          ".js", ".ts", ".jsx", ".tsx", "d.ts"
        ],
        "alias": {
          "@src": "./src"
        }
      }
    ]
  ]
}
